[submodule "TopStackResources"]
	path = TopStackResources
	url = git://github.com/TranscendComputing/TopStackResources
[submodule "TopStackCore"]
	path = TopStackCore
	url = git://github.com/TranscendComputing/TopStackCore
[submodule "TopStackScheduler"]
	path = TopStackScheduler
	url = git://github.com/TranscendComputing/TopStackScheduler
[submodule "TopStackDNS53"]
	path = TopStackDNS53
	url = git://github.com/TranscendComputing/TopStackDNS53
[submodule "TopStackCompute"]
	path = TopStackCompute
	url = git://github.com/TranscendComputing/TopStackCompute
[submodule "dasein-cloud-openstack"]
	path = dasein-cloud-openstack
	url = git://github.com/TranscendComputing/dasein-cloud-openstack.git
[submodule "TopStackAutoScale"]
	path = TopStackAutoScale
	url = git://github.com/TranscendComputing/TopStackAutoScale
[submodule "TopStackMonitorCommon"]
	path = TopStackMonitorCommon
	url = git://github.com/TranscendComputing/TopStackMonitorCommon
[submodule "TopStackMonitor"]
	path = TopStackMonitor
	url = git://github.com/TranscendComputing/TopStackMonitor
[submodule "TopStackMetricSearch"]
	path = TopStackMetricSearch
	url = git://github.com/TranscendComputing/TopStackMetricSearch
[submodule "TopStackMessageAgent"]
	path = TopStackMessageAgent
	url = git://github.com/TranscendComputing/TopStackMessageAgent
[submodule "TopStackRoot"]
	path = TopStackRoot
	url = git://github.com/TranscendComputing/TopStackRoot
[submodule "TopStackChefRepo"]
	path = TopStackChefRepo
	url = git://github.com/TranscendComputing/TopStackChefRepo
