[submodule "TopStackResources"]
	path = TopStackResources
	url = git://github.com/TranscendComputing/TopStackResources
[submodule "TopStackCore"]
	path = TopStackCore
	url = git://github.com/TranscendComputing/TopStackCore
[submodule "TopStackScheduler"]
	path = TopStackScheduler
	url = git://github.com/TranscendComputing/TopStackScheduler
[submodule "TopStackDNS53"]
	path = TopStackDNS53
	url = git://github.com/TranscendComputing/TopStackDNS53
[submodule "TopStackCompute"]
	path = TopStackCompute
	url = git://github.com/TranscendComputing/TopStackCompute
